section.content-header
    h1
        | Escritorio
    
    ol.breadcrumb
        li
            a(href="/")
                i.fa.fa-dashboard 
                | Inicio

section.content
    {{message}}
