.skin-blue
    .main-header

        .logo
            background-color #f68220

            &:hover
                background-color #ed6d04

        .navbar
            background-color #f68220

            .sidebar-toggle

                &:hover
                    background-color #ed6d04
